# Data Analysis

In [41]:
# libraries

import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_percentage_error as mape

## Generate Simulated Data

In [50]:
# generate data
np.random.seed(895122)  # optional

rows = []

for circle_num in range(1, 101):
    radius = np.random.uniform(4.5, 15)
    
    angle_pool = np.linspace(np.pi / 2, np.pi, 1000)
    angles = np.random.choice(angle_pool, size=4, replace=False)
    
    points = []
    for angle in angles:
        x = round(radius * np.cos(angle), 2)
        y = round(radius * np.sin(angle), 2)
        points.append((x, y))
    
    rows.append({
        "circle_number": circle_num,
        "point_1": points[0],
        "point_2": points[1],
        "point_3": points[2],
        "point_4": points[3],
        "original_radius": round(radius,2)
    })

circles = pd.DataFrame(rows)

## Find slope of two chords

In [43]:
def slope(p1, p2):
    x1, y1 = tuple(p1)
    x2, y2 = tuple(p2)
    return round((y2 - y1) / (x2 - x1), 2) if x2 != x1 else np.nan

circles["slope_1_2"] = circles.apply(lambda row: slope(row["point_1"], row["point_2"]), axis=1)
circles["slope_3_4"] = circles.apply(lambda row: slope(row["point_3"], row["point_4"]), axis=1)

circles.head()

,circle_number,point_1,point_2,point_3,point_4,original_radius,slope_1_2,slope_3_4
0,1,"(-1.89, 4.15)","(-0.47, 4.53)","(-0.53, 4.53)","(-3.37, 3.07)",4.56,0.27,0.51
1,2,"(-12.44, 3.13)","(-12.19, 3.99)","(-1.03, 12.78)","(-4.14, 12.14)",12.83,3.44,0.21
2,3,"(-8.5, 3.46)","(-9.14, 0.84)","(-7.61, 5.14)","(-6.2, 6.78)",9.18,4.09,1.16
3,4,"(-5.23, 1.4)","(-5.17, 1.63)","(-5.19, 1.56)","(-0.81, 5.35)",5.42,3.83,0.87
4,5,"(-2.3, 8.65)","(-1.71, 8.79)","(-2.06, 8.71)","(-7.36, 5.1)",8.95,0.24,0.68

## Find perpendicular bisector of each chord

In [44]:
def midpoint(p1, p2):
    x1, y1 = tuple(p1)
    x2, y2 = tuple(p2)
    return (round((x1 + x2) / 2, 2), round((y1 + y2) / 2, 2))

circles["midpoint_1_2"] = circles.apply(lambda row: midpoint(row["point_1"], row["point_2"]), axis=1)
circles["midpoint_3_4"] = circles.apply(lambda row: midpoint(row["point_3"], row["point_4"]), axis=1)

circles.head()

,circle_number,point_1,point_2,point_3,point_4,original_radius,slope_1_2,slope_3_4,midpoint_1_2,midpoint_3_4
0,1,"(-1.89, 4.15)","(-0.47, 4.53)","(-0.53, 4.53)","(-3.37, 3.07)",4.56,0.27,0.51,"(-1.18, 4.34)","(-1.95, 3.8)"
1,2,"(-12.44, 3.13)","(-12.19, 3.99)","(-1.03, 12.78)","(-4.14, 12.14)",12.83,3.44,0.21,"(-12.32, 3.56)","(-2.58, 12.46)"
2,3,"(-8.5, 3.46)","(-9.14, 0.84)","(-7.61, 5.14)","(-6.2, 6.78)",9.18,4.09,1.16,"(-8.82, 2.15)","(-6.9, 5.96)"
3,4,"(-5.23, 1.4)","(-5.17, 1.63)","(-5.19, 1.56)","(-0.81, 5.35)",5.42,3.83,0.87,"(-5.2, 1.52)","(-3.0, 3.46)"
4,5,"(-2.3, 8.65)","(-1.71, 8.79)","(-2.06, 8.71)","(-7.36, 5.1)",8.95,0.24,0.68,"(-2.0, 8.72)","(-4.71, 6.9)"

In [ ]:
def perpendicular_bisector(slope, midpoint):
    """
    Returns (m, b) for the perpendicular bisector y = mx + b
    """
    xm, ym = tuple(midpoint)
    
    # Vertical line case (original slope = 0)
    if slope == 0:
        return (np.nan, np.nan)
    
    # Undefined original slope â†’ perpendicular slope is 0
    if np.isnan(slope):
        perp_slope = 0
    else:
        perp_slope = round(-1 / slope, 2)
    
    b = round(ym - perp_slope * xm, 2)
    return (perp_slope, b)


circles["perp_bisector_1_2"] = circles.apply(
    lambda row: perpendicular_bisector(row["slope_1_2"], row["midpoint_1_2"]),
    axis=1
)

circles["perp_bisector_3_4"] = circles.apply(
    lambda row: perpendicular_bisector(row["slope_3_4"], row["midpoint_3_4"]),
    axis=1
)

circles.head()

,circle_number,point_1,point_2,point_3,point_4,original_radius,slope_1_2,slope_3_4,midpoint_1_2,midpoint_3_4,perp_bisector_1_2,perp_bisector_3_4
0,1,"(-1.89, 4.15)","(-0.47, 4.53)","(-0.53, 4.53)","(-3.37, 3.07)",4.56,0.27,0.51,"(-1.18, 4.34)","(-1.95, 3.8)","(-3.7, -0.03)","(-1.96, -0.02)"
1,2,"(-12.44, 3.13)","(-12.19, 3.99)","(-1.03, 12.78)","(-4.14, 12.14)",12.83,3.44,0.21,"(-12.32, 3.56)","(-2.58, 12.46)","(-0.29, -0.01)","(-4.76, 0.18)"
2,3,"(-8.5, 3.46)","(-9.14, 0.84)","(-7.61, 5.14)","(-6.2, 6.78)",9.18,4.09,1.16,"(-8.82, 2.15)","(-6.9, 5.96)","(-0.24, 0.03)","(-0.86, 0.03)"
3,4,"(-5.23, 1.4)","(-5.17, 1.63)","(-5.19, 1.56)","(-0.81, 5.35)",5.42,3.83,0.87,"(-5.2, 1.52)","(-3.0, 3.46)","(-0.26, 0.17)","(-1.15, 0.01)"
4,5,"(-2.3, 8.65)","(-1.71, 8.79)","(-2.06, 8.71)","(-7.36, 5.1)",8.95,0.24,0.68,"(-2.0, 8.72)","(-4.71, 6.9)","(-4.17, 0.38)","(-1.47, -0.02)"

## Find the intersection of the two perpendicular bisectors

In [46]:
def intersection(line1, line2):
    """
    Returns the intersection point (x, y) of two lines given as (m, b).
    Returns NaN if lines are parallel or invalid.
    """
    m1, b1 = line1
    m2, b2 = line2
    
    # Handle invalid or parallel cases
    if np.isnan(m1) or np.isnan(m2) or m1 == m2:
        return np.nan
    
    x = (b2 - b1) / (m1 - m2)
    y = m1 * x + b1
    
    return (round(x, 2), round(y, 2))


circles["bisector_intersection"] = circles.apply(
    lambda row: intersection(row["perp_bisector_1_2"], row["perp_bisector_3_4"]),
    axis=1
)

circles.head()

,circle_number,point_1,point_2,point_3,point_4,original_radius,slope_1_2,slope_3_4,midpoint_1_2,midpoint_3_4,perp_bisector_1_2,perp_bisector_3_4,bisector_intersection
0,1,"(-1.89, 4.15)","(-0.47, 4.53)","(-0.53, 4.53)","(-3.37, 3.07)",4.56,0.27,0.51,"(-1.18, 4.34)","(-1.95, 3.8)","(-3.7, -0.03)","(-1.96, -0.02)","(-0.01, -0.01)"
1,2,"(-12.44, 3.13)","(-12.19, 3.99)","(-1.03, 12.78)","(-4.14, 12.14)",12.83,3.44,0.21,"(-12.32, 3.56)","(-2.58, 12.46)","(-0.29, -0.01)","(-4.76, 0.18)","(0.04, -0.02)"
2,3,"(-8.5, 3.46)","(-9.14, 0.84)","(-7.61, 5.14)","(-6.2, 6.78)",9.18,4.09,1.16,"(-8.82, 2.15)","(-6.9, 5.96)","(-0.24, 0.03)","(-0.86, 0.03)","(0.0, 0.03)"
3,4,"(-5.23, 1.4)","(-5.17, 1.63)","(-5.19, 1.56)","(-0.81, 5.35)",5.42,3.83,0.87,"(-5.2, 1.52)","(-3.0, 3.46)","(-0.26, 0.17)","(-1.15, 0.01)","(-0.18, 0.22)"
4,5,"(-2.3, 8.65)","(-1.71, 8.79)","(-2.06, 8.71)","(-7.36, 5.1)",8.95,0.24,0.68,"(-2.0, 8.72)","(-4.71, 6.9)","(-4.17, 0.38)","(-1.47, -0.02)","(0.15, -0.24)"

## Find radius using distance formula

In [47]:
def distance(p1, p2):
    x1, y1 = tuple(p1)
    x2, y2 = tuple(p2)
    return round(np.sqrt((y2-y1)**2+(x2-x1)**2),2)

circles["calculated_radius"] = circles.apply(
    lambda row: distance(row["point_1"], row["bisector_intersection"]),
    axis=1)

## Calculate percent error

In [48]:
error = mape(circles["original_radius"],circles["calculated_radius"])

print(error)

0.04029581347822868

## Export data

In [49]:
circles.to_csv("../outputs/simulated_circle_data.csv", index = False)